# export $(grep -v '^#' .env | xargs)
# Create .env file in the deploy folder, copy all the fields and fill them in

# App Config
HOST=
PORT=

# Postgres Config
POSTGRES_SERVER= 
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
